* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b388ff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Typography */
h1 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

/* Forms */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 450px;
  margin-bottom: 10px;
}

.form-vcontainer {
  display: flex;
  flex-direction: column;
}

/* Input Flat */
.flat-input {
  height: 40px;
  background: #fff;
  border: 2px solid #9575cd;
  font-size: 15px;
  color: #b388ff;
}

.flat-input-label {
  font-size: 15px;
}

/* Radio Buttons */
.formgroupradio {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding-left: 25px;
  user-select: none;
  transform: translate(-28px);
}

.formgroupradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formgroupradio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.formgroupradio:hover input ~ .checkmark {
  background-color: #9575cd;
}

.formgroupradio input:checked ~ .checkmark {
  background-color: #9575cd;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formgroupradio input:checked ~ .checkmark:after {
  display: block;
}

.formgroupradio .checkmark:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Checkbox */
.formgroupbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.formgroupbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.formgroupbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formgroupbox:hover input ~ .checkmark {
  background-color: #9575cd;
}

.formgroupbox input:checked ~ .checkmark {
  background-color: #9575cd;
}

.formgroupbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formgroupbox input:checked ~ .checkmark:after {
  display: block;
}

.formgroupbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Dot Gamey Thing */
.container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.dot {
  background-color: #fff;
  margin: 8px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.dot.grow {
  transform: scale(2);
}
